@use 'threema-svelte-components/src/sass/config' as components;
@use 'threema-svelte-components/src/sass/utils' as *;

// Exported configuration, merged with the base configuration.
//
// prettier-ignore
$config: config-merge(components.$config, (
  // Valid CSS variables
  css-vars: (
    app: (
      // Scrollbar
      --t-scrollbar-thumb-color,
      --t-scrollbar-thumb-color--hover,

      // Global
      --t-text-e1-color,
      --t-text-e2-color,
      --t-text-e3-color,
      --t-text-anchor-color,
      --t-primary-text-anchor-color,
      --t-color-primary,

      // Main panels
      --t-panel-gap-color,
      --t-nav-background-color,
      --t-main-background-color,
      --t-aside-background-color,
      --t-pairing-background-color,

      // Main Welcome
      --t-main-welcome-icon-fill-opacity,
    ),

    individual-components: (
      // List Element
      --ic-list-element-background-color--hover,
      --ic-list-element-color,

      // Divider
      --ic-divider-background-color,

       // ContactNavigationContext Button
      --ic-contact-navigation-context-button-color,
      --ic-contact-navigation-context-button-border-color--hover,
      --ic-contact-navigation-context-button-background-color--hover,
      --ic-contact-navigation-context-button-border-color--focus,
      --ic-contact-navigation-context-button-background-color--focus,
      --ic-contact-navigation-context-button-color--active,
      --ic-contact-navigation-context-button-border-color--active,
      --ic-contact-navigation-context-button-background-color--active,
      --ic-contact-navigation-context-button-opacity--disabled,

      // Swipe area
      --ic-swipe-area-main-size,
      --ic-swipe-area-left-size,
      --ic-swipe-area-right-size,

      // Swipe area button
      --ic-swipe-area-button-background-color,
      --ic-swipe-area-button-background-color--hover,
      --ic-swipe-area-button-background-color--active,
      --ic-swipe-area-button-outline--focus,
      --ic-swipe-area-button-icon-color,
      --ic-swipe-area-button-name-color,

      // Tooltip
      --ic-tooltip-background-color,
      --ic-tooltip-color,
    ),

    message-components: (
      // Message footer
      --mc-message-indicator-time,
      --mc-message-indicator-column-gap,
      --mc-message-indicator-icon-size,

      // General message container
      --mc-message-hover-background-color,
      --mc-message-border-radius,
      --mc-message-background-color-incoming,
      --mc-message-background-color-outgoing,
      --mc-message-badge-color,
      --mc-message-badge-background-color,
      --mc-message-overlay-background-color,
      --mc-message-overlay-button-color,
      --mc-message-overlay-button-background-color,
      --mc-message-overlay-button-background-color--hover,
      --mc-message-overlay-button-background-color--focus,
      --mc-message-overlay-button-background-color--active,
      --mc-message-mention-background-color,
      --mc-message-mention-color,
      --mc-message-mention-me-background-color,
      --mc-message-mention-me-color,
      --mc-message-quote-border-width,
      --mc-message-quote-text-color,

      // File Message
      --mc-message-file-icon-background-image,
      --mc-message-file-icon-width,
      --mc-message-file-icon-height,
      --mc-message-file-info-column-gap,
      --mc-message-file-info-row-gap,
      --mc-message-file-icon-font-size,
      --mc-message-file-icon-font-color,
      --mc-message-file-size-color,

      // Image message
      --mc-message-image-placeholder-background-color,

      // Message status
      --mc-message-status-acknowledged-color,
      --mc-message-status-declined-color,
      --mc-message-status-error-color,
    ),

    compound-components: (
      // Profile picture upload
      --cc-profile-picture-upload-background-color,

      // Profile picture overlay
      --cc-profile-picture-overlay-background-color,
      --cc-profile-picture-overlay-unread-background-color,
      --cc-profile-picture-overlay-unread-text-color,
      --cc-profile-picture-overlay-badge-size,
      --cc-profile-picture-overlay-badge-icon-size,
      --cc-profile-picture-overlay-badge-icon-color,
      --cc-profile-picture-overlay-badge-icon-consumer-color,
      --cc-profile-picture-overlay-badge-icon-work-color,

      // Conversation
      --cc-conversation-message-options-caret-color,

      // Conversation preview
      --cc-conversation-preview-background-color,
      --cc-conversation-preview-background-color--hover,
      --cc-conversation-preview-background-color--active,
      --cc-conversation-preview-draft-text-color,
      --cc-conversation-preview-properties-background-color,
      --cc-conversation-preview-properties-icon-color,
      --cc-conversation-preview-properties-icon-pin-color,
      --cc-conversation-preview-message-text-color,
      --cc-conversation-preview-status-text-color,
      --cc-conversation-preview-swipe-area-button-gap,

      // Contact details
      --cc-contact-details-badge-consumer-text-color,
      --cc-contact-details-badge-consumer-background-color,
      --cc-contact-details-badge-work-text-color,
      --cc-contact-details-badge-work-background-color,

      // Receiver
      --cc-contact-status-tag-background-color,
      --cc-contact-status-tag-text-color,

      // Search input
      --cc-search-input-background-color,
      --cc-search-input-background-color--hover,
      --cc-search-input-background-color--focus,
      --cc-search-input-background-border-color--focus,
      --cc-search-input-text-color,
      --cc-search-input-placeholder-text-color,
      --cc-search-input-icon-color,
      --cc-search-input-icon-color--hover,

      // Menu items
      --cc-menu-item-icon-text-background-color--hover,
      --cc-menu-item-icon-text-background-color--active,

      // Compose area
      --cc-compose-area-placeholder-text-color,
      --cc-compose-area-padding,
      --cc-compose-area-margin,
      --cc-compose-area-quote-background-color,

      // Compose bar
      --cc-compose-bar-bytes-count-exceeded-color,

      // Emoji picker
      --cc-emoji-picker-background-color,

      // Modal dialog
      --cc-modal-dialog-background-color-rgb-triplet,
      --cc-modal-dialog-background-color,

      // Media Message Modal
      --cc-media-message-background-color,
      --cc-media-message-active-file-chip-background-color,
      --cc-media-message-active-file-chip-text-color,
      --cc-media-message-file-type-text-color,
      --cc-media-message-file-type-background-image,
      --cc-media-message-active-file-options-background-color,
      --cc-media-message-active-file-options-text-color,
      --cc-media-message-miniatures-background-color,
      --cc-media-message-miniatures-text-color,

      // Linking Wizard
      --cc-linking-wizard-error-message-background,
    ),

    debug-components: (
      // Top bar
      --dc-top-bar-background-color,
      --dc-top-bar-border-color,
    ),
  ),

  // Emoji sources
  emoji: url('./res/3sc/font/Twemoji.woff2') format('woff2'),

  // Material Icon sources
  material-icons: (
    src-filled: url('./res/3sc/font/MaterialIcons-Filled.woff2') format('woff2'),
    src-outlined: url('./res/3sc/font/MaterialIcons-Outlined.woff2') format('woff2')
  ),

  // Threema Icon sources
  threema-icons: (
    src-filled: url('./res/3sc/font/ThreemaIcons-Filled.woff2') format('woff2'),
    src-outlined: url('./res/3sc/font/ThreemaIcons-Outlined.woff2') format('woff2')
  ),
));
