/* Webfonts: Copyright &copy: Letters From Sweden. All rights reserved. To
obtain a license, please see: https://lettersfromsweden.se */

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-Thin'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Thin.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-ThinItalic'),
    url('/res/fonts/lab-grotesque/LabGrotesque-ThinItalic.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-Light'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Light.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-LightItalic'),
    url('/res/fonts/lab-grotesque/LabGrotesque-LightItalic.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-Regular'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Regular.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-Italic'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Italic.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-Medium'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Medium.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-MediumItalic'),
    url('/res/fonts/lab-grotesque/LabGrotesque-MediumItalic.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-Bold'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Bold.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-BoldItalic'),
    url('/res/fonts/lab-grotesque/LabGrotesque-BoldItalic.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-Black'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Black.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    local('LabGrotesque-BlackItalic'),
    url('/res/fonts/lab-grotesque/LabGrotesque-BlackItalic.woff2') format('woff2'),
    url('/res/fonts/lab-grotesque/LabGrotesque-BlackItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
