$-config: null !default;
@use 'threema-svelte-components/src/sass/conversion' as *;

%markup-bold {
  font-weight: bold;
  // Prevent fonts that don't support weight "bold" from being automagically synthesized by the
  // rendering engine.
  font-synthesis-weight: none;
}

%markup-italic {
  font-style: italic;
  // Prevent fonts that don't support an oblique variant (e.g. an emoji typeface) from being
  // automagically synthesized by the rendering engine.
  font-synthesis-style: none;
}

%markup-strike {
  text-decoration: line-through;
}

%mention {
  background-color: var(--mc-message-mention-background-color);
  color: var(--mc-message-mention-color);
  border-radius: rem(4px);
  padding: 0 rem(4px);
  text-decoration: none;
}

%mention-me,
%mention-all {
  background-color: var(--mc-message-mention-me-background-color);
  color: var(--mc-message-mention-me-color);
  cursor: text;
  user-select: text;
}
