node_modules/
build/
identities/
libs/
src/common/enum.ts
src/common/network/protobuf/js
src/common/crypto/blake2b/implementation.js
# TODO(DESK-35)
src/test/cypress/
src/test/js/
packaging/main.cjs
docs/book/
