# NodeJS
/node_modules/

# Build directories
/build/
/export/

# Electron
/electron.pid

# Testing
/junit/

# IDEs
/.idea/

# Unused translation keys
src/translations/**/*_old.json

# MacOS garbage
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
src/test/playwright/test-data-*.local.json
