# NodeJS
/node_modules/

# Build directories
/build/
/export/

# libthreema
libs/libthreema/build
libs/libthreema/node_modules
libs/libthreema/target
libs/libthreema/wasm/web/*.js
libs/libthreema/wasm/web/*.wasm
libs/libthreema/wasm/web/*.ts


# Electron
/electron.pid

# Testing
/junit/

# IDEs
/.idea/

# Unused translation keys
src/translations/**/*_old.json

# Lab Grotesque font
src/public/res/fonts/lab-grotesque/

# MacOS garbage
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
src/test/playwright/test-data-*.local.json
src/test/playwright/test-data-*-live.json

