[submodule "threema-protocols"]
	path = threema-protocols
	url = ../../protocols/threema-protocols.git
	branch = main
[submodule "libs/structbuf-typescript"]
	path = libs/structbuf-typescript
	url = ../../structbuf/structbuf-typescript.git
