/.gitlab/
/build/
/docs/book/
/export/
/libs/
/node_modules/
/package-lock.json
/packaging/flatpak/generated-sources.json
/src/common/network/protobuf/js
/src/common/internal-protobuf/
/threema-protocols/

# Forked code, keep differences to original minimal
/src/common/node/db/query-runner.ts
/src/common/crypto/blake2b/implementation.js
