/.gitlab/
/build/
/export/
/identities/
/libs/
/node_modules/
/package-lock.json
/packaging/flatpak/generated-sources.json
/src/common/network/protobuf/js
/src/test/js/
/threema-protocols/
/docs/book/

# Forked code, keep differences to original minimal
/src/common/node/db/query-runner.ts
/src/common/crypto/blake2b/implementation.js
