@use 'sass:color';
@use 'sass:map';

@use '../svelte-components/css-var' as *;
@use '../svelte-components/utils' as *;
@use '../svelte-components/theme';
@use '../svelte-components/conversion' as *;

$consumer: (
  primary-color-50: theme.$consumer-green-50,
  primary-color-100: theme.$consumer-green-100,
  primary-color-200: theme.$consumer-green-200,
  primary-color-300: theme.$consumer-green-300,
  primary-color-400: theme.$consumer-green-400,
  primary-color-500: theme.$consumer-green-500,
  primary-color-600: theme.$consumer-green-600,
  primary-color-700: theme.$consumer-green-700,
  primary-color-800: theme.$consumer-green-800,
  primary-color-900: theme.$consumer-green-900,
);
