@use 'sass:color';
@use 'sass:map';
@use 'threema-svelte-components/src/sass/css-var' as *;
@use 'threema-svelte-components/src/sass/utils' as *;
@use 'threema-svelte-components/src/sass/theme';
@use 'threema-svelte-components/src/sass/conversion' as *;

$light: (
  app: (
    // Scrollbar
    scrollbar-thumb: rgba(#000000, 12%),
    scrollbar-thumb--hover: rgba(#000000, 26%),
    // Global
    background-lightness--hover: -4%,
    background-lightness--active: -8%,
    text-e1: theme.$light-text-e1,
    text-e2: theme.$light-text-e2,
    text-e3: theme.$light-text-e2,
    text-anchor: theme.$work-blue-800,
    // Colors
    color-primary: theme.$consumer-green-600,
    // Main panels
    panel-gap: color.scale(theme.$light-background, $lightness: -12%),
    nav-background: color.scale(theme.$light-background, $lightness: -4%),
    main-background: theme.$light-background,
    aside-background: theme.$light-background,
    pairing-background: #ffffff,
    main-welcome-icon-fill-opacity: 6%,
  ),
  individual-components: (
    // List Elements
    list-element-background-color--hover: rgba(#000000, 4%),
    list-element-color: rgba(#000000, 88%),
    // Divider
    divider-background-color: rgba(#000000, 12%),
    // ContactNavigationContext Button
    contact-navigation-context-button-color: theme.$consumer-green-600,
    contact-navigation-context-button-border-color--hover: rgba(#000000, 4%),
    contact-navigation-context-button-background-color--hover: rgba(#000000, 4%),
    contact-navigation-context-button-border-color--focus: #000000,
    contact-navigation-context-button-background-color--focus: rgba(#000000, 4%),
    contact-navigation-context-button-color--active: theme.$primary-text-e1,
    contact-navigation-context-button-border-color--active: theme.$consumer-green-600,
    contact-navigation-context-button-background-color--active: theme.$consumer-green-600,
    contact-navigation-context-button-opacity--disabled: 26%,
  ),
  message-components: (
    // Message footer
    message-footer-time: theme.$light-text-e2,

    // Message status
    message-status-acknowledged: theme.$consumer-green-600,
    message-status-declined: theme.$warning-orange,
    message-status-error: theme.$alert-red,

    // General message container
    message-hover-background-color: rgba(#000000, 4%),
    message-background-color-incoming: theme.$grey-100,
    message-background-color-outgoing: theme.$consumer-green-50,
    message-mention-background-color: rgba(#000000, 12%),
    message-mention-color: rgba(#000000, 88%),
    message-mention-me-background-color: theme.$consumer-green-600,
    message-mention-me-color: #ffffff,
  ),
  compound-components: (
    // Profile picture upload
    profile-picture-upload-background-color: rgba(#000000, 4%),
    // Profile picture overlay
    profile-picture-overlay-unread-background: theme.$consumer-green-600,
    profile-picture-overlay-unread-text: theme.$primary-text-e1,
    profile-picture-overlay-badge-icon: theme.$light-text-e2,
    profile-picture-overlay-badge-icon-consumer: purple,
    profile-picture-overlay-badge-icon-work: theme.$work-blue-800,
    // Conversation
    conversation-message-options-caret-color: rgba(#000000, 88%),
    // Conversation preview
    conversation-preview-archived-background: rgba(#000000, 88%),
    conversation-preview-archived-text: theme.$dark-text-e1,
    conversation-preview-inactive-background: rgba(#000000, 88%),
    conversation-preview-inactive-text: theme.$dark-text-e1,
    conversation-preview-draft-text: theme.$alert-red,
    conversation-preview-properties-background: theme.$light-background,
    conversation-preview-properties-icon: theme.$light-text-e2,
    conversation-preview-properties-icon-pin: theme.$pin-yellow,
    conversation-preview-message-text: theme.$light-text-e2,
    conversation-preview-status-text: theme.$light-text-e2,
    conversation-preview-swipe-area-gap-lightness: -12%,
    // Contact preview
    contact-preview-inactive-background: rgba(#ffffff, 88%),
    contact-preview-inactive-text: theme.$light-text-e1,
    contact-preview-creator-background: theme.$light-text-e1,
    contact-preview-creator-text: rgba(#ffffff, 88%),
    // Search input
    search-input-background: rgba(#000000, 4%),
    search-input-background--hover: rgba(#000000, 8%),
    search-input-background--focus: rgba(#000000, 12%),
    // Icon text
    menu-item-icon-text-background-color--hover: rgba(#000000, 4%),
    menu-item-icon-text-background-color--active: rgba(#000000, 8%),
    // Compose area
    compose-area-placeholder-text: theme.$light-text-e2,
    compose-area-padding: rem(10px) rem(8px) 0 rem(8px),
    compose-area-margin: 0 0 rem(8px) 0,
    // Emoji picker
    emoji-picker-background-color: #ffffff,
    // Modal dialog
    modal-dialog-background-color: rgba(#ffffff, 74%),
    // MediaMessage Modal
    media-message-background-color: rgba(#000000, 9%),
    media-message-active-file-note-background-color: rgba(#ffffff, 54%),
    media-message-active-file-note-text-color: theme.$light-text-e2,
    media-message-file-type-text-color: theme.$light-text-e1,
    media-message-file-type-background-image: url('/res/theme/light/icon/file.svg'),
    media-message-active-file-options-background-color: rgba(#000000, 54%),
    media-message-active-file-options-text-color: #ffffff,
    media-message-active-file-caption-text-color: theme.$light-text-e2,
    media-message-miniatures-background-color: rgba(#000000, 6%),
    media-message-miniatures-text-color: theme.$light-text-e1,
  ),
  debug-components: (
    // Top bar
    top-bar-background-color: color.scale(theme.$light-background, $lightness: -20%),
  ),
);
